#dailyBudgetHeader{
    font-size: x-small;
    margin-top: -8%;
    margin-bottom: 3%;
    color: slategrey;
}

#dailySpendHeader{
    font-size: x-small;
    color: slategrey;
    margin-bottom: 16%;
}



#spendingHistoryHeader{
    font-size: x-small;
    color: slategrey;
    margin-bottom: 16%;
}

#spendingEntry{
    font-size: x-small;
    color: slategrey;
    margin-bottom: 16%;
}


.need{
    
    border-radius: 2px;
    color: black;
    margin: 10px;
    padding: 3px;
    width: 400px;
    background-color:rgb(113, 202, 113);
    max-width: 100%;
    input{
      border: none;
      appearance: none;
    }
  }